@CHARSET "UTF-8";

/* 
	HEADER 
*/
#header-container {
	height: 100px; 
	border-bottom: 7px solid #0D627D;
}

#navbar-container {
	height: 100%;
	background: white !important;
}

#navbar-logo {
	height: 80px; 
	width: 160px; 
	margin: 0 4vw; 
	object-fit: contain;
}

#navbarNav {
	border: 0px solid #0080c0;
	border-radius: 10px;
	background: white;
	text-align: center;
	margin-right: 2vw;
}

#navbarNav-inner {
	width: 100%; 
	padding-left: 10%; 
	display: flex; 
	justify-content: space-around;
	align-items: center;
}

.nav-item {
	padding-right: 8vw;
	font-size: 15pt;
	font-weight: bold;
	margin: auto;
}